//
// Global
//


body {
    font-family: "proxima-nova-alt", sans-serif;
    background: url('../img/bg.jpg') no-repeat $color-bg;
    background-size: 160%;

    @media(min-width: 460px) {
        background-size: 100%;
    }

    @media(min-width: $medium) {
        background-position: 0 -32px;
    }

    @media(min-width: 1435px) {
        background-position: 0 -72px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.cirquit {
    margin-top: 3.5em;
    padding: 0 1em;
    text-align: center;
    color: #fff;

    @media(min-width: 714px) {
        position: relative;
    }
}

.cirquit-text {
    font-size: 2rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.33), 0 1px 39px rgba(255, 255, 255, 0.26);

    > div {
        margin-bottom: 3em;
    }

    .you-record {
        img {
            position: relative;
            top: 31px;
            left: -24px;
        }

        @media(min-width: 714px) {
            position: absolute;
            left: 50%;
            top: 6em;
            margin-left: -290px;
        }

        @media(min-width: 960px) {
            margin-left: -410px;
        }
    }

    .they-record {
        img {
            position: relative;
            top: 31px;
            right: -24px;
        }

        @media(min-width: 714px) {
            position: absolute;
            right: 50%;
            top: 6em;
            margin-right: -315px;
        }

        @media(min-width: 960px) {
            margin-right: -416px;
        }
    }
}

.we-record {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.38),0 0 32px rgba(255, 255, 255, 0.38);
}